body {
  background-color: #ffffff;
   padding-bottom: 4rem;
}

head {
  padding-bottom: 10px;
}

footer {
  background-color: #888;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

.logo {
  float: left;
  max-width: 100%;
  height: 88px;
  width: auto;
  background-color: #888;
}

.footer_container {
  background-color: #888;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.messages {
  background-color: #888;
  overflow: hidden;
  margin-bottom: 10px;
  padding-top: 10px;
}

.topnav {
  background-color: #888;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.alert {
  display: inline-block;
  padding: 15px;
  background-color: #33d;
  color: white;
  margin-bottom: 10px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
